<template>
  <div class="edit-view-container">
    <div class="edit-view-header">
      <div class="edit-view-label">Edit mode</div>
      <div class="edit-view-button">
        <button class="edit-view-btn save-btn"
                @click="saveTask">Save
        </button>
        <button class="edit-view-btn exit-btn"
                @click="routeBack">Exit
        </button>
      </div>
    </div>
    <div class="edit-section">
      <label class="edit-view-label" for="label-edit">Title
        <textarea id="label-edit"
                  class="edit title-edit-area"
                  placeholder="Enter task label..."
                  v-model="label"/>
      </label>
      <label class="edit-view-label" for="desc-edit">Description
        <textarea id="desc-edit"
                  class="edit user-text-area"
                  placeholder="Enter task description..."
                  v-model="description"/>
      </label>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TasksEditView',
    data () {
      return {
        label: '',
        description: ''
      }
    },
    async beforeMount () {
      const taskId = this.$route.params.id
      const tasks = this.$store.getters.getTasks
      const task = tasks.find(task => task.id === taskId)
      this.label = task.label
      this.description = task.description
    },
    methods: {
      saveTask () {
        this.$store.dispatch('updateTaskFromDB', {
          id: this.$route.params.id,
          label: this.label,
          description: this.description
        })
      },
      routeBack () {
        this.$router.go(-1)
      }
    }
  }
</script>

<style scoped>
  .edit-view-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .exit-btn {
    background-color: #fafafa;
    color: #2c3e50;
    border: 1px solid #ebebeb;
  }

  .edit-view-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .edit-section {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .title-edit-area,
  .user-text-area {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }
  .title-edit-area {
    height: 40px;
    padding: 9px 20px;
  }
</style>
