<template>
  <div class="user-task"
       :class="{'done-task': this.task.isDone}"
       @mouseover="hover = true"
       @mouseleave="hover = false">
    <div class="task_wrapper-outer">
      <div class="switch-wrapper">
        <label class="switch">
          <input type="checkbox"
                 :checked="this.task.isDone"
                 @click="changeTaskState">
          <span class="slider round"/>
        </label>
      </div>
      <div class="task_wrapper">
        <div class="task-label"
             :class="{'task-label-disabled': this.task.isDone}">{{ taskLabel }}</div>
        <div class="task-description"
             :class="{'task-label-disabled': this.task.isDone}"
             v-if="showDescription">{{ taskDescription }}</div>
      </div>
      <div class="task-buttons_wrapper">
        <button class="edit-button"
                :class="{'done-task-button': this.task.isDone}"
                v-on:click="editTask"
                v-show="hover"
                v-bind:disabled="this.task.isDone">✎
        </button>
        <button class="remove-button"
                v-on:click="removeTask"
                v-show="hover">✖
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Task',
    props: {
      task: {
        type: Object,
        required: true
      },
      taskIndex: {
        type: Number,
        required: true
      }
    },
    data () {
      return {
        hover: false
      }
    },
    methods: {
      editTask () {
        this.$router.push({path: `/edit/${this.task.id}`})
      },
      async removeTask () {
        await this.$store.dispatch('removeTaskFromDB', this.task.id)
        await this.$store.dispatch('loadTasksIndex')
        await this.$store.dispatch('getTasksFromDB')
      },
      changeTaskState () {
        this.$store.dispatch('changeTaskState', this.task.id)
      }
    },
    computed: {
      taskLabel () {
        let number = (this.$store.state.page - 1) * 10 + this.taskIndex + 1
        return number + ') ' + this.task.label
      },
      showDescription () {
        return this.task.description.length
      },
      taskDescription () {
        return 'Description: ' + this.task.description
      }
    }
  }
</script>

<style scoped>
  .user-task {
    padding: 0 5px;
    height: 50px;
  }

  .task_wrapper-outer,
  .task_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .task_wrapper {
    overflow: hidden;
    justify-content: flex-start;
  }

  .task-label,
  .task-description {
    font-style: italic;
    margin-left: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
  }

  .task-description {
    font-size: 16px;
  }

  .task-label-disabled {
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    text-decoration-line: line-through;
  }

  .task-buttons_wrapper {
    display: flex;
  }
  .switch-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: forestgreen;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px forestgreen;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .remove-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: red;
    border-radius: 4px;
  }
  .edit-button {
    background: none;
    border: none;
    color: orange;
    font-size: 20px;
    border-radius: 4px;
  }
  .remove-button:hover,
  .edit-button:hover {
    background: #d7d7d7;
  }
  .done-task-button {
    opacity: 0.5;
  }

  @media (max-width: 575px) {
    .task_wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

</style>
