<template>
  <div class="tasks-container">
    <div v-if="!tasks.length">No tasks</div>
    <div v-for="(task, index) in tasks" :key="index">
      <task class="task-item"
            :class="{'task-item_first': index === 0}"
            :task="task"
            :task-index="index"/>
    </div>
    <div class="overlay-container" v-if="loading">
      <div class="overlay-background">
        <div class="lds-dual-ring"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Task from './Task'

  export default {
    name: 'TasksList',
    components: {Task},
    computed: {
      tasks () {
        return this.$store.state.tasks
      },
      loading () {
          return this.$store.getters.isLoading
      }
    }
  }
</script>

<style scoped>
 .tasks-container {
   min-height: 510px;
   position: relative;
 }
 .task-item {
   border-bottom: 1px solid lightblue;
 }
 .task-item_first {
   border-top: 1px solid lightblue;
 }
 /*---loader start---*/
 .overlay-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1000;
 }

 .overlay-background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(210, 210, 210, 0.35);
 }

 .lds-dual-ring {
   display: block;
   position: relative;
   left: 50%;
   top: 50%;
   width: 80px;
   height: 80px;
   margin: -40px 0 0 -40px;
   border-radius: 50%;
   border: 6px solid #2196F3;
   border-color: #2196F3 transparent #2196F3 transparent;
   animation: lds-dual-ring 1.2s linear infinite;
 }

 @keyframes lds-dual-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 /*---loader end---*/
</style>
