<template>
  <footer>
    <button class="pagination-button"
            @click="prevPage"
            v-bind:disabled="prevPageDisabled">Previous</button>
    <router-link v-for="n in totalPages"
                 :key="n"
                 class="pagination-button"
                 :class="['btn', { active: totalPages <= 1 }]" :to="`/page/${n}`">{{ n }}</router-link>
    <button @click="nextPage"
            class="pagination-button"
            v-bind:disabled="nextPageDisabled">Next</button>
  </footer>
</template>

<script>

  export default {
    name: 'TasksListFooter',
    computed: {
      totalPages () {
        return this.$store.getters.availablePages
      },
      currentPage () {
        return this.$store.state.page
      },
      prevPageDisabled() {
        return this.totalPages <= 1 || this.currentPage == 1
      },
      nextPageDisabled() {
        return this.totalPages <= 1 || this.currentPage == this.totalPages
      }
    },
    methods: {
      async prevPage () {
        await this.$store.dispatch('loadPrevPage')
        await this.$router.push({path: `/page/${this.currentPage}`})
      },
      async nextPage () {
        await this.$store.dispatch('loadNextPage')
        await this.$router.push({path: `/page/${this.currentPage}`})
      }
    }
  }
</script>

<style scoped>
  footer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }

  a {
      color: #2c3e50;
      text-decoration: none;
  }

  .pagination-button {
    background: #fff;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    cursor: pointer;
    min-width: 20px;
    transition: background 0.3s;
  }

  .pagination-button:hover {
    background: #F0F0F0;
  }

  .router-link-active {
    background: #F0F0F0;
  }
</style>
