<template>
  <div>
    <header class="list-header">To-Do List App</header>
    <div class="list-view-header">
      <user-input-field @create-task="createTask" v-model="userInput"/>
      <button class="add-button" v-on:click="createTask">+</button>
    </div>
    <tasks-list/>
    <div v-show="showEmptyLabelError">Label must be not empty!</div>
    <tasks-list-footer @add-task="createTask"/>
  </div>
</template>

<script>
  import TasksList from './TasksList'
  import TasksListFooter from './TasksListFooter'
  import UserInputField from './UserInputField'

  export default {
    name: 'TasksListView',
    components: {TasksList, TasksListFooter, UserInputField},
    data () {
      return {
        showEmptyLabelError: false,
        userInput: null
      }
    },
    computed: {
      currentPage () {
        return this.$route.params.pageNum
      }
    },
    watch: {
      '$route' (to, from) {
        this.$store.commit('setPage', this.currentPage)
        let router = this.$router
        this.$store.dispatch('getTasksFromDB').then().catch(function (error) {
          router.push({path: `/page/1`})
          console.log(error)
        })
      }
    },
    methods: {
      async createTask () {
        if (this.userInput) {
          await this.$store.dispatch('addTaskToDB', this.userInput)
          await this.$store.dispatch('loadTasksIndex')
          await this.$store.dispatch('getTasksFromDB')
          if (this.currentPage !== '1') {
            await this.$router.push({path: `/page/1`})
          }
          this.userInput = ''
          this.showEmptyLabelError = false
        } else {
          this.showEmptyLabelError = true
        }
      }
    }
  }
</script>

<style scoped>
  .list-view-header {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
  }
  .add-button {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: forestgreen;
    opacity: .5;
  }
  .add-button:hover {
    opacity: 1;
  }
</style>
