<template>
  <div class="user-input-wrapper">
    <label for="user-input"/>
    <input type="text"
           @keyup.enter="$emit('create-task')"
           id="user-input"
           v-bind:value="value"
           v-on:input="$emit('input', $event.target.value)"
           class="user-text-area"
           placeholder="Enter task label..."/>
  </div>
</template>

<script>
  export default {
    name: 'UserInputField',
    props: ['value']
  }
</script>

<style scoped>
.user-input-wrapper {
  height: 50px;
  display: flex;
  width: 100%;
}
#user-input {
  background: transparent;
  border: none;
  width: 100%;
  padding-left: 5px;
}
</style>
