<template>
    <div class="app-container">
      <transition name="component-fade" mode="out-in">
        <router-view/>
      </transition>
    </div>
</template>

<script>
  import TasksListView from './components/TasksListView'
  import TasksEditView from './components/TaskEditView'

  export default {
    name: 'App',
    components: {TasksListView, TasksEditView}
  }
</script>

<style>
  .app-container {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: #FEFDDE;
  }

  .list-header {
    font-weight: bold;
    /*padding-top: 10px;*/
  }

  /*---transition start---*/
  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .2s ease;
  }

  .component-fade-enter, .component-fade-leave-to {
    opacity: 0;
  }
  /*---transition end---*/

  /*---variables start---*/
  @media (min-width: 576px) {
    .app-container {
      max-width: 490px;
      margin: 40px auto;
      width: 100%;
    }
  }
  /*---variables end---*/

</style>
